@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f3efe6;
  --foreground: #1f1b15;
}

body {
  color: var(--foreground);
  background: var(--background);
  min-height: 100vh;
}
